body {
  background-color: #fafafa;
  height: 100vh;
}

.app {
  text-align: center;
  background-color: #fff;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-header {
  .navbar {
    justify-content: center;
    background-color: #282c34;

    .navbar-item {
      font-size: calc(10px + 2vmin);
      a {
        color: white;
      }
    }
  }
}

.app-link {
  color: #61dafb;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-close {
    background-color: rgba(10, 10, 10, 0.2);
  }

  .modal-content {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    box-shadow: 0 12px 6px -6px #a9a9a9;
  }
}

.error-box {
  background-color: #ff3860;
  color: #fff;
  font-weight: 800;
}

.falcone-img {
  width: 350px;
  height: 350px;
  background-image: url("../images/falcone.png");
  background-size: contain;
  background-repeat: no-repeat;
  shape-outside: ellipse();
  float: left;
  @media screen and (max-width: 600px) {
    width: 180px;
    height: 180px;
  }
}
