.auto-suggest-wrapper {
  .auto-suggest-options {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    min-width: 400px;
    border: 1px #e4e4e4 solid;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;

    .auto-suggest-option {
      padding: 3px;
      cursor: pointer;

      &:hover {
        background-color: #e4e4e4;
      }
    }
  }
}
