.destination-selector {
  .columns {
    justify-content: space-around;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  .selector-card {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    box-shadow: 0 8px 6px -6px #b9b9b9;
    transition: 0.3s;
    max-width: 260px;
    border-radius: 5px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

    @media screen and (max-width: 768px) {
      max-width: 260px;
      min-height: 130px;
    }

    @media screen and (max-width: 600px) {
      max-width: 260px;
      min-height: 230px;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    &.disabled {
      opacity: 0.5;
    }

    &.active:hover {
      box-shadow: 0 18px 6px -6px #b9b9b9;
      transform: scale(1.05, 1.05);

      @media screen and (max-width: 600px) {
        transform: scale(1.05, 1.05) translateX(-50%);
      }
    }
    &.active:active {
      box-shadow: 0px 12px 6px -3px #a9a9a9;
      transform: scale(1.02, 1.02);
      @media screen and (max-width: 600px) {
        transform: scale(1.02, 1.02) translateX(-50%);
      }
    }

    .card-btn {
      flex-grow: 1;
    }

    i {
      color: #d86f4b;
      width: 100px;
      font-size: 6rem;
      height: 100px;
      margin-top: 50%;
      transform: translatey(-50%);

      @media screen and (max-width: 768px) {
        font-size: 3.2rem;
        width: 80px;
        height: 80px;
      }

      @media screen and (max-width: 600px) {
        font-size: 4rem;
        width: 80px;
        height: 80px;
      }
    }

    .destination-planet-name {
      font-weight: 100;
      padding-bottom: 5px;
      .planet-name {
        font-weight: 600;
        color: #d86f4b;
      }
    }

    .destination-planet-svg {
      svg {
        max-height: 150px;

        @media screen and (max-width: 600px) {
          max-height: 100px;
        }
      }
    }
    .destination-vehicle {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      border-top: 1px #e4e4e4 solid;
      padding-top: 10px;
      margin-top: 5px;

      .vehicle-name-container {
        padding-left: 5px;
        .vehicle-name {
          font-weight: 600;
          color: #d86f4b;
        }
      }

      .vehicle-img {
        width: 50px;
        height: 50px;
        background-image: url("../images/space-pod.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
      .vehicle-img.space-pod {
        background-image: url("../images/space-pod.png");
      }
      .vehicle-img.space-rocket {
        background-image: url("../images/space-rocket.png");
      }
      .vehicle-img.space-ship {
        background-image: url("../images/space-ship.png");
      }
      .vehicle-img.space-shuttle {
        background-image: url("../images/space-shuttle.png");
      }
    }
  }
}
