.donlon {
  .donlon-lines {
    animation: planet-spin-angle infinite 5s linear;
  }
}
.enchai {
  .crater {
    animation: planet-spin infinite 5s linear;
  }
}

.jebing {
  .jebing-lines {
    animation: planet-spin-angle2 infinite 5s linear;
  }
}
.sapir {
  .sapir-lines {
    animation: planet-spin infinite 5s linear;
  }
}
.pingasor {
  .pingasor-lines {
    animation: planet-spin-angle2 infinite 5s linear;
  }
}

.lerbin.planet {
  .lerbin-ring {
    animation: sway infinite 5s linear;
  }
  .lerbin-moon {
    animation: sway infinite 6s ease-in-out;
  }
}

.planet {
  width: 100%;
  height: 100%;
}

@keyframes planet-spin {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-208px, 0, 0);
  }
}

@keyframes planet-spin-angle {
  0% {
    transform: rotate(-10deg) translate3d(-50px, 5px, 0);
  }
  100% {
    transform: rotate(-10deg) translate3d(-260px, 5px, 0);
  }
}

@keyframes planet-spin-angle2 {
  0% {
    transform: rotate(70deg) translate3d(198px, -210px, 0);
  }
  100% {
    transform: rotate(70deg) translate3d(-22px, -210px, 0);
  }
}

@keyframes sway {
  0% {
    transform: rotatex(0deg) rotateY(0deg);
  }
  50% {
    transform: rotatex(10deg) rotateY(10deg);
  }
  100% {
    transform: rotatex(0deg) rotateY(0deg);
  }
}
